<!-- ============= ADVANTAGE SECTION ============= -->
<section class="advantages">
  <div class="container advantages">
    <div class="advantages-title-blok">
      <h4 class="advantages-subtitle">Переваги</h4>
      <h2 class="advantages-title">Чому обрати нас?</h2>
      <p class="advantages-list-description">
        Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
        стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
        відповідальність.
      </p>
    </div>
    <ul class="advantages-wrapper">
      <li class="advantages-list-item">
        <picture class="advantage-image">
          <!-- DESKTOP SOURCE -->
          <source
            srcset="
              /img/advantages/advantages-image1-desk.png    1x,
              /img/advantages/advantages-image1-desk@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <!-- TABLET SOURCE -->
          <source
            srcset="
              /img/advantages/advantages-image1-tablet.png    1x,
              /img/advantages/advantages-image1-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <!-- MOBILE SOURCE -->
          <img
            srcset="/img/advantages/advantages-image1-mobile@2x.png 2x"
            src="/img/advantages/advantages-image1-mobile.png"
            alt="Стійкість та екологічність"
            width="288"
          />
        </picture>
        <h3 class="advantages-list-title">Стійкість та екологічність</h3>
        <p class="advantages-list-text">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>
      <li class="advantages-list-item">
        <picture class="advantage-image">
          <!-- DESKTOP SOURCE -->
          <source
            srcset="
              /img/advantages/advantages-image2-desk.png    1x,
              /img/advantages/advantages-image2-desk@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <!-- TABLET SOURCE -->
          <source
            srcset="
              /img/advantages/advantages-image2-tablet.png    1x,
              /img/advantages/advantages-image2-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <!-- MOBILE SOURCE -->
          <img
            srcset="/img/advantages/advantages-image2-mobile@2x.png 2x"
            src="/img/advantages/advantages-image2-mobile.png"
            alt="Міцність і довговічність"
            width="288"
          />
        </picture>
        <h3 class="advantages-list-title">Міцність і довговічність</h3>
        <p class="advantages-list-text">
          Наші сумки мають посилені шви для тривалого використання.
        </p>
      </li>
      <li class="advantages-list-item">
        <picture class="advantage-image">
          <!-- DESKTOP SOURCE -->
          <source
            srcset="
              /img/advantages/advantages-image3-desk.png    1x,
              /img/advantages/advantages-image3-desk@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <!-- TABLET SOURCE -->
          <source
            srcset="
              /img/advantages/advantages-image3-tablet.png    1x,
              /img/advantages/advantages-image3-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <!-- MOBILE SOURCE -->
          <img
            srcset="/img/advantages/advantages-image3-mobile@2x.png 2x"
            src="/img/advantages/advantages-image3-mobile.png"
            alt="Стильний та сучасний дизайн"
            width="288"
          />
        </picture>
        <h3 class="advantages-list-title">Стильний та сучасний дизайн</h3>
        <p class="advantages-list-text">
          Мінімалістичні моделі в обмежених серіях для кожного стилю.
        </p>
      </li>
    </ul>
  </div>
</section>
<!-- =============/ ADVANTAGE SECTION ============= -->
