<!-- ============= ADVANTAGE SECTION ============= -->
<section class="advantages">
  <div class="container advantages">
    <div class="advantages-title-blok">
      <h2 class="advantages-title">Чому обрати нас?</h2>
      <h4 class="advantages-subtitle">Переваги</h4>
    </div>
    <p class="advantages-list-description">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>
    <ul class="advantages-wrapper">
      <li class="advantages-list-item">
        <picture class="advantage-image">
          <!-- DESKTOP SOURCE -->
          <source
            srcset="
              /img/webp/advantages/advantages-pc-1.webp    1x,
              /img/webp/advantages/advantages-pc-1@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
            width="422"
          />
          <source
            srcset="
              /img/jpg/advantages/advantages-pc-1.jpg    1x,
              /img/jpg/advantages/advantages-pc-1@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            width="422"
          />
          <!-- TABLET SOURCE -->
          <source
            srcset="
              /img/webp/advantages/advantages-tab-1.webp    1x,
              /img/webp/advantages/advantages-tab-1@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
            width="340"
          />
          <source
            srcset="
              /img/jpg/advantages/advantages-tab-1.jpg    1x,
              /img/jpg/advantages/advantages-tab-1@2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="340"
          />
          <!-- MOBILE SOURCE -->
          <source
            srcset="
              /img/webp/advantages/advantages-mob-1.webp    1x,
              /img/webp/advantages/advantages-mob-1@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
            width="288"
          />
          <img
            class="rounded-img"
            srcset="/img/jpg/advantages/advantages-mob-1@2x.jpg 2x"
            src="/img/jpg/advantages/advantages-mob-1.jpg"
            alt="Стійкість та екологічність"
            width="288"
          />
        </picture>
        <div class="advantage-list-blok">
          <h3 class="advantages-list-title">Стійкість та екологічність</h3>
          <p class="advantages-list-text">
            Виготовлені з органічної бавовни та переробленого пластику.
          </p>
        </div>
      </li>
      <li class="advantages-list-item">
        <picture class="advantage-image">
          <!-- DESKTOP SOURCE -->
          <source
            srcset="
              /img/webp/advantages/advantages-pc-2.webp    1x,
              /img/webp/advantages/advantages-pc-2@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
            width="422"
          />
          <source
            srcset="
              /img/jpg/advantages/advantages-pc-2.jpg    1x,
              /img/jpg/advantages/advantages-pc-2@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            width="422"
          />
          <!-- TABLET SOURCE -->
          <source
            srcset="
              /img/webp/advantages/advantages-tab-2.webp    1x,
              /img/webp/advantages/advantages-tab-2@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
            width="340"
          />
          <source
            srcset="
              /img/jpg/advantages/advantages-tab-2.jpg    1x,
              /img/jpg/advantages/advantages-tab-2@2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="340"
          />
          <!-- MOBILE SOURCE -->
          <source
            srcset="
              /img/webp/advantages/advantages-mob-2.webp    1x,
              /img/webp/advantages/advantages-mob-2@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
            width="288"
          />
          <img
            class="rounded-img"
            srcset="/img/jpg/advantages/advantages-mob-2@2x.jpg 2x"
            src="/img/jpg/advantages/advantages-mob-2.jpg"
            alt="Міцність і довговічність"
            width="288"
          />
        </picture>
        <div class="advantage-list-blok">
          <h3 class="advantages-list-title">Міцність і довговічність</h3>
          <p class="advantages-list-text">
            Наші сумки мають посилені шви для тривалого використання.
          </p>
        </div>
      </li>
      <li class="advantages-list-item">
        <picture class="advantage-image">
          <!-- DESKTOP SOURCE -->
          <source
            srcset="
              /img/webp/advantages/advantages-pc-3.webp    1x,
              /img/webp/advantages/advantages-pc-3@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
            width="422"
          />
          <source
            srcset="
              /img/jpg/advantages/advantages-pc-3.jpg    1x,
              /img/jpg/advantages/advantages-pc-3@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            width="422"
          />
          <!-- TABLET SOURCE -->
          <source
            srcset="
              /img/webp/advantages/advantages-tab-3.webp    1x,
              /img/webp/advantages/advantages-tab-3@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
            width="704"
          />
          <source
            srcset="
              /img/jpg/advantages/advantages-tab-3.jpg    1x,
              /img/jpg/advantages/advantages-tab-3@2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="704"
          />
          <!-- MOBILE SOURCE -->
          <source
            srcset="
              /img/webp/advantages/advantages-mob-3.webp    1x,
              /img/webp/advantages/advantages-mob-3@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
            width="288"
          />
          <img
            class="rounded-img"
            srcset="../img/jpg/advantages/advantages-mob-3@2x.jpg 2x"
            src="../img/jpg/advantages/advantages-mob-3.jpg"
            alt="Стильний та сучасний дизайн"
            width="288"
          />
        </picture>
        <div class="advantage-list-blok">
          <h3 class="advantages-list-title">Стильний та сучасний дизайн</h3>
          <p class="advantages-list-text">
            Мінімалістичні моделі в обмежених серіях для кожного стилю.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- =============/ ADVANTAGE SECTION ============= -->
