<!-- SECTION ASSORTMENT -->
<section class="assortment" id="assortment-section">
  <div class="container">
    <h2 class="assortment-title">Наші сумки</h2>
    <ul class="assortment-list">
      <li class="assortment-list-item">
        <div class="assortment-img-container">
          <picture>
            <source
              media="(min-width: 1440px)"
              type="image/webp"
              srcset="../img/assortment/desk/assortment-image1-desk.webp 1x ../img/assortment/desk/assortment-image1-desk@2x.webp 2x"
            />
            <source
              media="(min-width: 768px)"
              type="image/webp"
              srcset="../img/assortment/tablet/assortment-image1-tablet.webp 1x ../img/assortment/tablet/assortment-image1-tablet@2x.webp 2x"
            />
            <img
              class="assortment-img"
              srcset="
                ../img/assortment/mobile/assortiment-image1-mobile@2x.webp 2x
              "
              src="../img/assortment/mobile/assortiment-image1-mobile.webp"
              alt="EcoBag Classic"
              loading="lazy"
              width="288"
              height="345"
            />
          </picture>
        </div>
        <div class="assortment-item-container">
          <h3 class="assortment-item-title">EcoBag Classic</h3>
          <p class="assortment-item-text">
            Елегантна та містка сумка для щоденного використання.
          </p>
          <p class="assortment-item-price">$25</p>
        </div>
        <button class="assortment-item-btn" type="button">Купити</button>
      </li>
      <li class="assortment-list-item">
        <div class="assortment-img-container">
          <picture>
            <source
              media="(min-width: 1440px)"
              type="image/webp"
              srcset="../img/assortment/desk/assortment-image2-desk.webp 1x ../img/assortment/desk/assortment-image2-desk@2x.webp 2x"
            />
            <source
              media="(min-width: 768px)"
              type="image/webp"
              srcset="../img/assortment/tablet/assortment-image2-tablet.webp 1x ../img/assortment/tablet/assortment-image2-tablet@2x.webp 2x"
            />
            <img
              class="assortment-img"
              srcset="
                ../img/assortment/mobile/assortiment-image2-mobile@2x.webp 2x
              "
              src="../img/assortment/mobile/assortiment-image2-mobile.webp"
              alt="EcoTote Shopper"
              loading="lazy"
              width="288"
              height="345"
            />
          </picture>
        </div>
        <div class="assortment-item-container">
          <h3 class="assortment-item-title">EcoTote Shopper</h3>
          <p class="assortment-item-text">
            Ідеальна для покупок, з посиленими ручками.
          </p>
          <p class="assortment-item-price">$30</p>
        </div>
        <button class="assortment-item-btn" type="button">Купити</button>
      </li>
      <li class="assortment-list-item">
        <div class="assortment-img-container">
          <picture>
            <source
              media="(min-width: 1440px)"
              type="image/webp"
              srcset="../img/assortment/desk/assortment-image3-desk.webp 1x ../img/assortment/desk/assortment-image3-desk@2x.webp 2x"
            />
            <source
              media="(min-width: 768px)"
              type="image/webp"
              srcset="../img/assortment/tablet/assortment-image3-tablet.webp 1x ../img/assortment/tablet/assortment-image3-tablet@2x.webp 2x"
            />
            <img
              class="assortment-img"
              srcset="
                ../img/assortment/mobile/assortiment-image3-mobile@2x.webp 2x
              "
              src="../img/assortment/mobile/assortiment-image3-mobile.webp"
              alt="EcoBackpack Urban"
              loading="lazy"
              width="288"
              height="345"
            />
          </picture>
        </div>
        <div class="assortment-item-container">
          <h3 class="assortment-item-title">EcoBackpack Urban</h3>
          <p class="assortment-item-text">
            Зручний рюкзак для міста з відділенням для ноутбука.
          </p>
          <p class="assortment-item-price">$45</p>
        </div>
        <button class="assortment-item-btn" type="button">Купити</button>
      </li>
      <li class="assortment-list-item">
        <div class="assortment-img-container">
          <picture>
            <source
              media="(min-width: 1440px)"
              type="image/webp"
              srcset="../img/assortment/desk/assortment-image4-desk.webp 1x ../img/assortment/desk/assortment-image4-desk@2x.webp 2x"
            />
            <source
              media="(min-width: 768px)"
              type="image/webp"
              srcset="../img/assortment/tablet/assortment-image4-tablet.webp 1x ../img/assortment/tablet/assortment-image4-tablet@2x.webp 2x"
            />
            <img
              class="assortment-img"
              srcset="
                ../img/assortment/mobile/assortiment-image4-mobile@2x.webp 2x
              "
              src="../img/assortment/mobile/assortiment-image4-mobile.webp"
              alt="EcoCrossbody Mini"
              loading="lazy"
              width="288"
              height="345"
            />
          </picture>
        </div>
        <div class="assortment-item-container">
          <h3 class="assortment-item-title">EcoCrossbody Mini</h3>
          <p class="assortment-item-text">
            Компактна сумка через плече для найнеобхіднішого.
          </p>
          <p class="assortment-item-price">$20</p>
        </div>
        <button class="assortment-item-btn" type="button">Купити</button>
      </li>
      <li class="assortment-list-item">
        <div class="assortment-img-container">
          <picture>
            <source
              media="(min-width: 1440px)"
              type="image/webp"
              srcset="../img/assortment/desk/assortment-image5-desk.webp 1x ../img/assortment/desk/assortment-image5-desk@2x.webp 2x"
            />
            <source
              media="(min-width: 768px)"
              type="image/webp"
              srcset="../img/assortment/tablet/assortment-image5-tablet.webp 1x ../img/assortment/tablet/assortment-image5-tablet@2x.webp 2x"
            />
            <img
              class="assortment-img"
              srcset="
                ../img/assortment/mobile/assortiment-image5-mobile@2x.webp 2x
              "
              src="../img/assortment/mobile/assortiment-image5-mobile.webp"
              alt="EcoLunch Bag"
              loading="lazy"
              width="288"
              height="345"
            />
          </picture>
        </div>
        <div class="assortment-item-container">
          <h3 class="assortment-item-title">EcoLunch Bag</h3>
          <p class="assortment-item-text">
            Стильна та практична сумка для обідів.
          </p>
          <p class="assortment-item-price">$15</p>
        </div>
        <button class="assortment-item-btn" type="button">Купити</button>
      </li>
      <li class="assortment-list-item">
        <div class="assortment-img-container">
          <picture>
            <source
              media="(min-width: 1440px)"
              type="image/webp"
              srcset="../img/assortment/desk/assortment-image6-desk.webp 1x ../img/assortment/desk/assortment-image6-desk@2x.webp 2x"
            />
            <source
              media="(min-width: 768px)"
              type="image/webp"
              srcset="../img/assortment/tablet/assortment-image6-tablet.webp 1x ../img/assortment/tablet/assortment-image6-tablet@2x.webp 2x"
            />
            <img
              class="assortment-img"
              srcset="
                ../img/assortment/mobile/assortiment-image6-mobile@2x.webp 2x
              "
              src="../img/assortment/mobile/assortiment-image6-mobile.webp"
              alt="EcoBeach Tote"
              loading="lazy"
              width="288"
              height="345"
            />
          </picture>
        </div>
        <div class="assortment-item-container">
          <h3 class="assortment-item-title">EcoBeach Tote</h3>
          <p class="assortment-item-text">
            Велика сумка для пляжних речей з водонепроникною підкладкою.
          </p>
          <p class="assortment-item-price">$35</p>
        </div>
        <button class="assortment-item-btn" type="button">Купити</button>
      </li>
      <li class="assortment-list-item">
        <div class="assortment-img-container">
          <picture>
            <source
              media="(min-width: 1440px)"
              type="image/webp"
              srcset="../img/assortment/desk/assortment-image7-desk.webp 1x ../img/assortment/desk/assortment-image7-desk@2x.webp 2x"
            />
            <source
              media="(min-width: 768px)"
              type="image/webp"
              srcset="../img/assortment/tablet/assortment-image7-tablet.webp 1x ../img/assortment/tablet/assortment-image7-tablet@2x.webp 2x"
            />
            <img
              class="assortment-img"
              srcset="
                ../img/assortment/mobile/assortiment-image7-mobile@2x.webp 2x
              "
              src="../img/assortment/mobile/assortiment-image7-mobile.webp"
              alt="EcoTravel Duffle"
              loading="lazy"
              width="288"
              height="345"
            />
          </picture>
        </div>
        <div class="assortment-item-container">
          <h3 class="assortment-item-title">EcoTravel Duffle</h3>
          <p class="assortment-item-text">
            Містка дорожня сумка з додатковими кишенями.
          </p>
          <p class="assortment-item-price">$60</p>
        </div>
        <button class="assortment-item-btn" type="button">Купити</button>
      </li>
      <li class="assortment-list-item">
        <div class="assortment-img-container">
          <picture>
            <source
              media="(min-width: 1440px)"
              type="image/webp"
              srcset="../img/assortment/desk/assortment-image8-desk.webp 1x ../img/assortment/desk/assortment-image8-desk@2x.webp 2x"
            />
            <source
              media="(min-width: 768px)"
              type="image/webp"
              srcset="../img/assortment/tablet/assortment-image8-tablet.webp 1x ../img/assortment/tablet/assortment-image8-tablet@2x.webp 2x"
            />
            <img
              class="assortment-img"
              srcset="
                ../img/assortment/mobile/assortiment-image8-mobile@2x.webp 2x
              "
              src="../img/assortment/mobile/assortiment-image8-mobile.webp"
              alt="EcoKids Bag"
              loading="lazy"
              width="288"
              height="345"
            />
          </picture>
        </div>
        <div class="assortment-item-container">
          <h3 class="assortment-item-title">EcoKids Bag</h3>
          <p class="assortment-item-text">Яскрава та зручна сумка для дітей.</p>
          <p class="assortment-item-price">$22</p>
        </div>
        <button class="assortment-item-btn" type="button">Купити</button>
      </li>
    </ul>
  </div>
</section>
<!-- /SECTION ASSORTMENT -->
