<section class="feedback-section">
  <div class="container">
    <h2 class="section-title">Що говорять наші клієнти</h2>
    <ul class="feedback-list">
      <li class="feedback-list-item">
        <ul class="stars-review-list">
          <li class="stars-review-list-item">
            <svg
              class="stars-review-list-icon star-fill"
              width="20"
              height="19"
            >
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-review-list-item star-fill">
            <svg class="stars-review-list-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-review-list-item star-fill">
            <svg class="stars-review-list-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-review-list-item star-fill">
            <svg class="stars-review-list-icon" width="20" height="19">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-review-list-item star-fill">
            <svg class="stars-review-list-icon" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="review-describtion">
          Сумка дуже зручна та стильна, використовую щодня!
        </p>
        <p class="reviewers-name">Анна</p>
      </li>
      <li class="feedback-list-item">
        <ul class="stars-review-list">
          <li class="stars-review-list-item">
            <svg
              class="stars-review-list-icon star-fill"
              width="20"
              height="19"
            >
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg
              class="stars-review-list-icon star-fill"
              width="20"
              height="19"
            >
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg
              class="stars-review-list-icon star-fill"
              width="20"
              height="19"
            >
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg
              class="stars-review-list-icon star-fill"
              width="20"
              height="19"
            >
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg class="stars-review-list-icon" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="review-describtion">
          Відмінна якість матеріалів, приємно здивований.
        </p>
        <p class="reviewers-name">Ігор</p>
      </li>
      <li class="feedback-list-item">
        <ul class="stars-review-list">
          <li class="stars-review-list-item">
            <svg
              class="stars-review-list-icon star-fill"
              width="20"
              height="19"
            >
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg
              class="stars-review-list-icon star-fill"
              width="20"
              height="19"
            >
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg
              class="stars-review-list-icon star-fill"
              width="20"
              height="19"
            >
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg
              class="stars-review-list-icon star-fill"
              width="20"
              height="19"
            >
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg class="stars-review-list-icon" width="20" height="20">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="review-describtion">
          Сумка повністю відповідає опису, рекомендую!
        </p>
        <p class="reviewers-name">Олена</p>
      </li>
      <li class="feedback-list-item">
        <ul class="stars-review-list">
          <li class="stars-review-list-item">
            <svg
              class="stars-review-list-icon star-fill"
              width="20"
              height="19"
            >
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg
              class="stars-review-list-icon star-fill"
              width="20"
              height="19"
            >
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg
              class="stars-review-list-icon star-fill"
              width="20"
              height="19"
            >
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg
              class="stars-review-list-icon star-fill"
              width="20"
              height="19"
            >
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg
              class="stars-review-list-icon star-fill"
              width="20"
              height="20"
            >
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="review-describtion">
          Швидка доставка та гарне обслуговування.
        </p>
        <p class="reviewers-name">Сергій</p>
      </li>
    </ul>
  </div>
</section>
