<section class="feedback-section">
  <div class="container">
    <h2 class="title-section">Що говорять наші клієнти</h2>
    <ul class="feedback-list">
      <li class="feedback-list-item">
        <ul class="stars-review-list">
          <li class="stars-review-list-item">
            <svg class="stars-review-list-icon" width="20" height="19">
              <use href=""></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg class="stars-review-list-icon" width="20" height="19">
              <use href=""></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg class="stars-review-list-icon" width="20" height="19">
              <use href=""></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg class="stars-review-list-icon" width="20" height="19">
              <use href=""></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg class="stars-review-list-icon" width="20" height="20">
              <use href=""></use>
            </svg>
          </li>
        </ul>
        <p>Сумка дуже зручна та стильна, використовую щодня!</p>
        <p>Анна</p>
      </li>
      <li class="feedback-list-item">
        <ul class="stars-review-list">
          <li class="stars-review-list-item">
            <svg class="stars-review-list-icon" width="20" height="19">
              <use href=""></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg class="stars-review-list-icon" width="20" height="19">
              <use href=""></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg class="stars-review-list-icon" width="20" height="19">
              <use href=""></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg class="stars-review-list-icon" width="20" height="19">
              <use href=""></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg class="stars-review-list-icon" width="20" height="20">
              <use href=""></use>
            </svg>
          </li>
        </ul>
        <p>Відмінна якість матеріалів, приємно здивований.</p>
        <p>Ігор</p>
      </li>
      <li class="feedback-list-item">
        <ul class="stars-review-list">
          <li class="stars-review-list-item">
            <svg class="stars-review-list-icon" width="20" height="19">
              <use href=""></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg class="stars-review-list-icon" width="20" height="19">
              <use href=""></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg class="stars-review-list-icon" width="20" height="19">
              <use href=""></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg class="stars-review-list-icon" width="20" height="19">
              <use href=""></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg class="stars-review-list-icon" width="20" height="20">
              <use href=""></use>
            </svg>
          </li>
        </ul>
        <p>Сумка повністю відповідає опису, рекомендую!</p>
        <p>Олена</p>
      </li>
      <li class="feedback-list-item">
        <ul class="stars-review-list">
          <li class="stars-review-list-item">
            <svg class="stars-review-list-icon" width="20" height="19">
              <use href=""></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg class="stars-review-list-icon" width="20" height="19">
              <use href=""></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg class="stars-review-list-icon" width="20" height="19">
              <use href=""></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg class="stars-review-list-icon" width="20" height="19">
              <use href=""></use>
            </svg>
          </li>
          <li class="stars-review-list-item">
            <svg class="stars-review-list-icon" width="20" height="20">
              <use href=""></use>
            </svg>
          </li>
        </ul>
        <p>Швидка доставка та гарне обслуговування.</p>
        <p>Сергій</p>
      </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
