<footer class="footer">
    <div class="footer-container container">
    <!-- MENU -->
    <div class="footer-menu-sect">
        <div class="footer-logo">
            <a href="index.html" class="">
                <img class="footer-logo-link" src="./img/logo.svg" alt="Company Logo" width="280" height="121"></a>
        </div>
    
    
        <ul class="footer-menu">
            <li><a href="#about-section" class="f-menu-item">Про нас</a></li>
            <li><a href="#advantages-section" class="f-menu-item">Переваги</a></li>
            <li><a href="#assortment-section" class="f-menu-item">Асортимент</a></li>
            <li><a href="#gallery-section" class="f-menu-item">Галерея</a></li>
            <li><a href="#feedbacks-section" class="f-menu-item">Відгуки</a></li>
            <li><a href="#support-section" class="f-menu-item">Контакти</a></li>
        </ul>
    
    
        <div class="f-social">
            <ul class="f-social-links">
                <li><a href="https://www.instagram.com/" target="_blank">
                        <svg class="f-social-links-icon" width="32" height="32">
                            <use href="/img/icons.svg#icon-instagram"></use>
                        </svg></a></li>
    
                <li><a href="https://www.linkedin.com/" target="_blank">
                        <svg class="f-social-links-icon" width="32" height="32">
                            <use href="/img/icons.svg#icon-linkedin"></use>
                        </svg></a></li>
    
                <li><a href="https://www.youtube.com/" target="_blank">
                        <svg class="f-social-links-icon" width="32" height="32">
                            <use href="/img/icons.svg#icon-youtube"></use>
                        </svg></a></li>
            </ul>
        </div>
    </div>
    
    
    
    <!-- CONTACTS -->
    
    <div class="footer-contacts">
        <div class="divider"></div>
    
        <ul class="footer-address">
            <li class="f-address-link">
                <a href="tel:+380999091122" class="f-address-link-item-tel">+38 (099) 909 11 22</a>
            </li>
    
            <li class="f-address-link">
                <a href="mailto:hello@ecotote.com" class="f-address-link-item-mail">hello@ecotote.com</a>
            </li>
        </ul>
    
        <p class="f-copyright">© 2025 EcoTote. Всі права захищені.</p>
    
    </div>

    </div>

</footer>