<footer class="footer-container container">
    <!-- MENU -->
       <div class="footer-logo">
        <a href="" class=""><svg class="f-logo-link-icon" width="280" height="121">
                <use href="../img/icons.svg#"></use>
            </svg></a>
       </div>
       

         <ul class="footer-menu">
            <li><a href="" class="f-menu-item">Про нас</a></li>
            <li><a href="" class="f-menu-item">Переваги</a></li>
            <li><a href="" class="f-menu-item">Асортимент</a></li>
            <li><a href="" class="f-menu-item">Галерея</a></li>
            <li><a href="" class="f-menu-item">Відгуки</a></li>
            <li><a href="" class="f-menu-item">Контакти</a></li>
         </ul>

      
       <div class="footer-social-links">
        <ul class="f-social-links">
            <li class="f-social-links-item"><a href="https://www.instagram.com/" class="">
                <svg class="f-social-links-icon" fill-rule="evenodd" clip-rule="evenodd" width="32" height="32">
                <use href="../img/icons.svg#icon-Instagram"></use>
            </svg></a></li>

            <li class="f-social-links-item"><a href="https://www.linkedin.com/" class="">
                <svg class="f-social-links-icon" fill-rule="evenodd" clip-rule="evenodd" width="32" height="32">
                <use href="../img/icons.svg#icon-LinkedIn"></use>
            </svg></a></li>

            <li class="f-social-links-item"><a href="https://www.youtube.com/" class="">
                <svg class="f-social-links-icon" fill-rule="evenodd" clip-rule="evenodd" width="32" height="32">
                <use href="../img/icons.svg#icon-YouTube"></use>
            </svg></a></li>
        </ul>
       </div>


    <!-- CONTACTS -->

    <div class="footer-contacts">
        <div class="divider">
        
        </div>

        <ul class="footer-address">
            <li class="f-address-link">
                <a href="tel:+380999091122" class="f-address-link-item-tel">+38 (099) 909 11 22</a>
            </li>

            <li class="f-address-link">
                <a href="mailto:hello@ecotote.com" class="f-address-link-item-mail">hello@ecotote.com</a>
            </li>
        </ul>
        
            <p class="f-copyright">© 2025 EcoTote. Всі права захищені.</p>
      
    </div>
        

</footer>