<!-- GALLERY -->
<section class="gallery" id="gallery-section">
  <h2 class="gallery-title">Галерея зображень</h2>
  <h3 class="gallery-subtitle">EcoTotes у повсякденному житті</h3>
  <div class="container gallery-grid">
    <ul class="gallery-list">
      <li class="gallery-item">
        <picture>
          <!-- DESC -->
          <source media="(min-width: 1440px)" type="image/webp"
            srcset="/img/webp/gallery/gallery-pc-1.webp 1x, /img/webp/gallery/gallery-pc-1@2x.webp 2x">
          <source media="(min-width: 1440px)" type="image/jpeg"
            srcset="/img/jpg/gallery/gallery-pc-1.jpg 1x, /img/jpg/gallery/gallery-pc-1@2x.jpg 2x">

          <!-- TAB -->
          <source media="(min-width: 768px)" type="image/webp"
            srcset="/img/webp/gallery/gallery-tab-1.webp 1x, /img/webp/gallery/gallery-tab-1@2x.webp 2x">
          <source media="(min-width: 768px)" type="image/jpeg"
            srcset="/img/jpg/gallery/gallery-tab-1.jpg 1x, /img/jpg/gallery/gallery-tab-1@2x.jpg 2x">

          <!-- MOB -->
          <source type="image/webp"
            srcset="/img/webp/gallery/gallery-mob-1.webp 1x, /img/webp/gallery/gallery-mob-1@2x.webp 2x">
          <img class="gallery-img" srcset="/img/jpg/gallery/gallery-mob-1@2x.jpg 2x"
            src="/img/jpg/gallery/gallery-mob-1.jpg" alt="bag" loading="lazy" width="288" height="288">
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <!-- DESC -->
          <source media="(min-width: 1440px)" type="image/webp"
            srcset="/img/webp/gallery/gallery-pc-2.webp 1x, /img/webp/gallery/gallery-pc-2@2x.webp 2x">
          <source media="(min-width: 1440px)" type="image/jpeg"
            srcset="/img/jpg/gallery/gallery-pc-2.jpg 1x, /img/jpg/gallery/gallery-pc-2@2x.jpg 2x">

          <!-- TAB -->
          <source media="(min-width: 768px)" type="image/webp"
            srcset="/img/webp/gallery/gallery-tab-2.webp 1x, /img/webp/gallery/gallery-tab-2@2x.webp 2x">
          <source media="(min-width: 768px)" type="image/jpeg"
            srcset="/img/jpg/gallery/gallery-tab-2.jpg 1x, /img/jpg/gallery/gallery-tab-2@2x.jpg 2x">

          <!-- MOB -->
          <source type="image/webp"
            srcset="/img/webp/gallery/gallery-mob-2.webp 1x, /img/webp/gallery/gallery-mob-2@2x.webp 2x">
          <img class="gallery-img" srcset="/img/jpg/gallery/gallery-mob-2@2x.jpg 2x"
            src="/img/jpg/gallery/gallery-mob-2.jpg" alt="bag" loading="lazy" width="288" height="288">
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <!-- DESC -->
          <source media="(min-width: 1440px)" type="image/webp"
            srcset="/img/webp/gallery/gallery-pc-3.webp 1x, /img/webp/gallery/gallery-pc-3@2x.webp 2x">
          <source media="(min-width: 1440px)" type="image/jpeg"
            srcset="/img/jpg/gallery/gallery-pc-3.jpg 1x, /img/jpg/gallery/gallery-pc-3@2x.jpg 2x">

          <!-- TAB -->
          <source media="(min-width: 768px)" type="image/webp"
            srcset="/img/webp/gallery/gallery-tab-3.webp 1x, /img/webp/gallery/gallery-tab-3@2x.webp 2x">
          <source media="(min-width: 768px)" type="image/jpeg"
            srcset="/img/jpg/gallery/gallery-tab-3.jpg 1x, /img/jpg/gallery/gallery-tab-3@2x.jpg 2x">

          <!-- MOB -->
          <source type="image/webp"
            srcset="/img/webp/gallery/gallery-mob-3.webp 1x, /img/webp/gallery/gallery-mob-3@2x.webp 2x">
          <img class="gallery-img" srcset="/img/jpg/gallery/gallery-mob-3@2x.jpg 2x"
            src="/img/jpg/gallery/gallery-mob-3.jpg" alt="bag" loading="lazy" width="288" height="288">
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <!-- DESC -->
          <source media="(min-width: 1440px)" type="image/webp"
            srcset="/img/webp/gallery/gallery-pc-4.webp 1x, /img/webp/gallery/gallery-pc-4@2x.webp 2x">
          <source media="(min-width: 1440px)" type="image/jpeg"
            srcset="/img/jpg/gallery/gallery-pc-4.jpg 1x, /img/jpg/gallery/gallery-pc-4@2x.jpg 2x">

          <!-- TAB -->
          <source media="(min-width: 768px)" type="image/webp"
            srcset="/img/webp/gallery/gallery-tab-4.webp 1x, /img/webp/gallery/gallery-tab-4@2x.webp 2x">
          <source media="(min-width: 768px)" type="image/jpeg"
            srcset="/img/jpg/gallery/gallery-tab-4.jpg 1x, /img/jpg/gallery/gallery-tab-4@2x.jpg 2x">

          <!-- MOB -->
          <source type="image/webp"
            srcset="/img/webp/gallery/gallery-mob-4.webp 1x, /img/webp/gallery/gallery-mob-4@2x.webp 2x">
          <img class="gallery-img" srcset="/img/jpg/gallery/gallery-mob-4@2x.jpg 2x"
            src="/img/jpg/gallery/gallery-mob-4.jpg" alt="bag" loading="lazy" width="288" height="288">
        </picture>
      </li>
    </ul>
  </div>
</section>