<!-- GALLERY -->
<section class="gallery">
    <h2 class="gallery-title">Галерея зображень</h2>
    <h3 class="gallery-subtitle">EcoTotes у повсякденному житті</h3>
    <div class="container">
        <ul class="gallery-list">
            <li class="gallery-item">
                <picture>
                    <img class="gallery-img" src="../image/webp/gallery/gallery-mob-1.webp"
                        srcset="../image/webp/gallery/gallery-mob-1@2x.webp 2x" alt="bag" loading="lazy" width="288"
                        height="288">
                    <source media="(min-width: 768px)" type="image/webp"
                        srcset="../image/webp/gallery/gallery-tab-1.webp 1x ../image/webp/gallery/gallery-tab-1@2x.webp 2x">
                    <source media="(min-width: 1440px)" type="image/webp"
                        srcset="../image/webp/gallery/gallery-pc-1.webp 1x ../image/webp/gallery/gallery-pc-1@2x.webp 2x">
                </picture>
            </li>
            <li class="gallery-item">
                <picture>
                    <img class="gallery-img tall" src="../image/webp/gallery/gallery-mob-2.webp"
                        srcset="../image/webp/gallery/gallery-mob-2@2x.webp 2x" alt="man with bag" loading="lazy"
                        width="288" height="288">
                    <source media="(min-width: 768px)" type="image/webp"
                        srcset="../image/webp/gallery/gallery-tab-2.webp 1x ../image/webp/gallery/gallery-tab-2@2x.webp 2x">
                    <source media="(min-width: 1440px)" type="image/webp"
                        srcset="../image/webp/gallery/gallery-pc-2.webp 1x ../image/webp/gallery/gallery-pc-2@2x.webp 2x">
                </picture>
            </li>
            <li class="gallery-item">
                <picture>
                    <img class="gallery-img tall" src="../image/webp/gallery/gallery-mob-3.webp"
                        srcset="../image/webp/gallery/gallery-mob-3@2x.webp 2x" alt="woman with bag" loading="lazy"
                        width="288" height="288">
                    <source media="(min-width: 768px)" type="image/webp"
                        srcset="../image/webp/gallery/gallery-tab-3.webp 1x ../image/webp/gallery/gallery-tab-3@2x.webp 2x">
                    <source media="(min-width: 1440px)" type="image/webp"
                        srcset="../image/webp/gallery/gallery-pc-3.webp 1x ../image/webp/gallery/gallery-pc-3@2x.webp 2x">
                </picture>
            </li>
            <li class="gallery-item">
                <picture>
                    <img class="gallery-img" src="../image/webp/gallery/gallery-mob-4.webp"
                        srcset="../image/webp/gallery/gallery-mob-4@2x.webp 2x" alt="woman with bag" loading="lazy"
                        width="288" height="288">
                    <source media="(min-width: 768px)" type="image/webp"
                        srcset="../image/webp/gallery/gallery-tab-4.webp 1x ../image/webp/gallery/gallery-tab-4@2x.webp 2x">
                    <source media="(min-width: 1440px)" type="image/webp"
                        srcset="../image/webp/gallery/gallery-pc-4.webp 1x ../image/webp/gallery/gallery-pc-4@2x.webp 2x">
                </picture>
            </li>
        </ul>
    </div>
</section>