<header class="header">
    <div class="container header-container">
        <nav class="navigation">
            <a href="index.html" class="header-logo"><img src="./img/logo.svg" alt="Company Logo" width="84"
                    height="36"></a>
            <ul class="nav-menu">
                <li class="nav-item"><a href="#about-section" class="nav-link">Про нас</a></li>
                <li class="nav-item"><a href="#advantages-section" class="nav-link">Переваги</a></li>
                <li class="nav-item"><a href="#assortment-section" class="nav-link">Асортимент</a></li>
                <li class="nav-item"><a href="#gallery-section" class="nav-link">Галерея</a></li>
                <li class="nav-item"><a href="#feedbacks-section" class="nav-link">Відгуки</a></li>
                <li class="nav-item"><a href="#support-section" class="nav-link">Контакти</a></li>
            </ul>
            <address class="contacts">
                <ul class="contact-list">
                    <li class="contact-item">
                        <a class="contact-link" href="mailto:hello@ecotote.com">hello@ecotote.com</a>
                    </li>
                    <li class="contact-item">
                        <a class="contact-link" href="tel:+380999091122">+38 (099) 909 11 22</a>
                    </li>
                </ul>
            </address>
            <button class="mobile-menu-btn" type="button">
                <svg class="mobile-menu-icon">
                    <use href="./img/icons.svg#icon-burger"></use>
                </svg>
            </button>

        </nav>
    </div>
</header>