<header class="header">
  <div class="container header-container">
    <nav class="navigation">
      <a class="header-logo" href="index.html"
        ><svg class="header-logo-icon">
          <use href="./img/icons.svg#icon-company-logo"></use></svg
      ></a>
      <ul class="nav-menu">
        <li class="nav-item">
          <a href="#about-section" class="nav-link">Про нас</a>
        </li>
        <li class="nav-item">
          <a href="#advantages-section" class="nav-link">Переваги</a>
        </li>
        <li class="nav-item">
          <a href="#assortment-section" class="nav-link">Асортимент</a>
        </li>
        <li class="nav-item">
          <a href="#gallery-section" class="nav-link">Галерея</a>
        </li>
        <li class="nav-item">
          <a href="#feedbacks-section" class="nav-link">Відгуки</a>
        </li>
        <li class="nav-item">
          <a href="#support-section" class="nav-link">Контакти</a>
        </li>
      </ul>
      <address class="contacts">
        <ul class="contact-list">
          <li class="contact-item">
            <a class="contact-link" href="mailto:hello@ecotote.com"
              >hello@ecotote.com</a
            >
          </li>
          <li class="contact-item">
            <a class="contact-link" href="tel:+380999091122"
              >+38 (099) 909 11 22</a
            >
          </li>
        </ul>
      </address>
      <button class="mobile-menu-btn" type="button">
        <svg class="mobile-menu-icon">
          <use href="./img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>

<!-- !HEADER - MENU -->
<div class="mobile-menu-modal">
  <div class="mobile-menu-container">
    <div class="mobile-menu-top">
      <a class="header-logo" href="index.html"
        ><svg class="header-logo-icon">
          <use href="./img/icons.svg#icon-company-logo"></use></svg
      ></a>
      <button class="mobile-menu-btn-x" type="button">
        <svg class="mobile-menu-icon-x" width="32" height="32">
          <use href="./img/icons.svg#icon-x"></use>
        </svg>
      </button>
    </div>
    <ul class="mobile-nav-list">
      <li class="nav-item">
        <a href="#about-section" class="nav-link">Про нас</a>
      </li>
      <li class="nav-item">
        <a href="#advantages-section" class="nav-link">Переваги</a>
      </li>
      <li class="nav-item">
        <a href="#assortment-section" class="nav-link">Асортимент</a>
      </li>
      <li class="nav-item">
        <a href="#gallery-section" class="nav-link">Галерея</a>
      </li>
      <li class="nav-item">
        <a href="#feedbacks-section" class="nav-link">Відгуки</a>
      </li>
      <li class="nav-item">
        <a href="#support-section" class="nav-link">Контакти</a>
      </li>
    </ul>
    <address class="mobile-contacts">
      <ul class="mobile-contact-list">
        <li class="contact-item">
          <a class="contact-link" href="tel:+380999091122"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li class="contact-item">
          <a class="contact-link" href="mailto:hello@ecotote.com"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>
  </div>
</div>
