<section class="hero-section" id="hero-section">
  <div class="container hero-container">
    <div class="hero-buynow-wrapper">
      <h1 class="hero-buynow-title">EcoTote — Стиль, що не шкодить планеті</h1>
      <div class="hero-buynow">
        <p class="hero-buynow-text">
          Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
          відповідальність разом з EcoTote.
        </p>
        <a href="#assortment-section" class="hero-buy-button">Купити зараз</a>
      </div>
    </div>
    <div class="hero-image-wrapper">
      <picture>
        <!-- pc -->
        <source
          srcset="
            ./img/webp/hero/hero-pc.webp    1x,
            ./img/webp/hero/hero-pc@2x.webp 2x
          "
          media="(min-width: 1440px)"
          type="image/webp"
        />
        <source
          srcset="
            ./img/jpg/hero/hero-pc.jpg    1x,
            ./img/jpg/hero/hero-pc@2x.jpg 2x
          "
          media="(min-width: 1440px)"
          type="image/jpg"
        />
        <!-- tab -->
        <source
          srcset="
            ./img/webp/hero/hero-tab.webp    1x,
            ./img/webp/hero/hero-tab@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./img/jpg/hero/hero-tab.jpg    1x,
            ./img/jpg/hero/hero-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpg"
        />
        <!-- mob -->
        <source
          srcset="
            ./img/webp/hero/hero-mob.webp    1x,
            ./img/webp/hero/hero-mob@2x.webp 2x
          "
          media="(min-width: 320px)"
          type="image/webp"
        />
        <img
          class="hero-image"
          srcset="./img/jpg/hero/hero-mob@2x.jpg 2x"
          src="./img/jpg/hero/hero-mob.jpg"
          alt="bags"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
