<section class="hero-section" id="hero-section">
  <div class="container hero-container">
    <h1 class="hero-buynow-title">EcoTote — Стиль, що не шкодить планеті</h1>
    <div class="hero-buynow">
      <p class="hero-buynow-text">
        Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
        відповідальність разом з EcoTote.
      </p>
      <a href="#assortment-section" class="hero-buy-button">Купити зараз</a>
    </div>
  </div>
  <div class="hero__image-wrapper">
    <picture>
      <source
        srcset="../img/hero/hero-desc.png 1x, ../img/hero/hero-desc@2x.png 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ../img/hero/hero-tablet.png    1x,
          ../img/hero/hero-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <img
        class="hero-image"
        srcset="../img/hero/hero-mobile@2x.png 2x"
        src="../img/hero/hero-mobile.png"
        alt="App"
      />
    </picture>
  </div>
</section>
