/* ========VARIABLES======== */
:root {
  --font-family: 'Fira Sans', sans-serif;
  --second-family: 'Comfortaa', sans-serif;
  --main-text-color: #fff;
}

.about-section {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/about/about-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-section-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  font-family: var(--font-family);
  color: var(--main-text-color);
}

.about-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  font-family: var(--second-family);
  color: var(--main-text-color);
}
.about-section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  font-family: var(--font-family);
  color: var(--main-text-color);
}
