/* =======================ABUT SECTION===================== */
.about-section {
  padding-top: 64px;
  padding-bottom: 64px;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--color-body-bg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/img/webp/about/feature-mob.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-section-title {
  font: var(--heading-desktop-tagline);
  text-align: center;
  font-family: var(--font-family);
  color: var(--color-white);
  margin-bottom: 12px;
}

.about-section-subtitle {
  font: var(--heading-mobile-h2);
  letter-spacing: 0.01em;
  text-align: center;
  font-family: var(--second-family);
  color: var(--color-white);
  margin-bottom: 20px;
}

.about-section-text {
  font: var(--text-regular-normal);
  text-align: center;
  font-family: var(--font-family);
  color: var(--color-white);
}

@media screen and (min-resolution: 192dpi) {
  .about-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/img/webp/about/feature-mob@2x.webp);
  }
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .about-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/img/webp/about/feature-tab.webp);
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .about-section-subtitle {
    font: var(--heading-desktop-h1);
    margin-bottom: 16px;
    max-width: 629px;
    margin: 0 auto;
  }
  .about-section-title {
    margin-bottom: 24px;
  }
  .about-section-text {
    max-width: 573px;
    margin: 0 auto;
  }
  @media screen and (min-resolution: 192dpi) {
    .about-section {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/webp/about/feature-tab@2x.webp);
    }
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .about-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/img/webp/about/feature-pc.webp);
    padding-top: 112px;
    padding-bottom: 112px;
  }
  @media screen and (min-resolution: 192dpi) {
    .about-section {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/webp/about/feature-pc@2x.webp);
    }
  }
}
/* =======================ABUT SECTION END===================== */
