/*  ============= ADVANTAGE SECTION =============  */
.advantages {
  margin: 0 auto;
  width: 320px;
  background: #ebf8ed;
}
.container.advantages {
  padding: 32px 16px;
}
.advantages-title-blok {
  margin-bottom: 48px;
}
.advantages-subtitle {
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #030a06;
  padding-bottom: 12px;
}
.advantages-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #030a06;
  padding-bottom: 20px;
}
.advantages-list-description {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
}
.advantages-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.advantages-list-item {
}
.advantage-image {
  border-radius: 50%;
  overflow: hidden;
}
.advantages-list-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #030a06;
  padding-top: 8px;
  padding-bottom: 4px;
}
.advantages-list-text {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
}

@media screen and (min-width: 768px) {
  .container.advantages {
    padding: 64px 32px;
    min-width: 768px;
  }
  .advantages-list-description {
    font-size: 18px;
  }
  .advantages-list-description {
    padding-bottom: 16px;
  }
}
/*  =============/ ADVANTAGE SECTION =============  */
