.assortment {
  padding-top: 32px;
  padding-bottom: 32px;
}

.assortment-title {
  font: var(--heading-mobile-h2);
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
}
.assortment-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.assortment-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  width: 100%;
  min-height: 530px;
}

.assortment-img {
  border-radius: 32px;
}
.assortment-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 113px;
  padding-left: 25px;
  padding-right: 25px;
}
.assortment-item-title {
  font-size: 18px;
  line-height: 1.6;
}
.assortment-item-text {
  margin-bottom: 8px;
  font-size: 14px;
  text-align: center;
  line-height: 1.6;
}
.assortment-item-price {
  margin-top: auto;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
}
.assortment-item-btn {
  border: 1px solid #030a06;
  border-radius: 6px;
  padding: 8px 15px;
  width: 288px;
  height: 40px;
  transition: color var(--transition-base), border-color var(--transition-base);
}

.assortment-item-btn:hover,
.assortment-item-btn:focus {
  color: #11391699;
  border-color: #11391699;
}
.assortment-item-btn:active {
  color: #030a0680;
  border-color: #030a0680;
}

@media screen and (min-width: 768px) {
  .assortment {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .assortment-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .assortment-list-item {
    width: calc((100% - 24px) / 2);
    min-height: 593px;
  }

  .assortment-img {
    width: 340px;
    height: 408px;
  }

  .assortment-item-btn {
    width: 340px;
  }
}

@media screen and (min-width: 1440px) {
  .assortment-list {
    row-gap: 64px;
    column-gap: 24px;
  }

  .assortment-title {
    font: var(--heading-desktop-h2);
  }

  .assortment-list-item {
    width: calc((100% - 72px) / 4);
    min-height: 557px;
  }

  .assortment-img {
    width: 310px;
    height: 372px;
  }
  .assortment-item-btn {
    width: 310px;
  }
}
