.feedback-section {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .feedback-section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
.section-title {
  font: var(--heading-mobile-h2);
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
}
@media screen and (min-width: 1440px) {
  .section-title {
    font: var(--heading-desktop-h2);
    margin-bottom: 80px;
    width: 560px;
    margin-left: auto;
    margin-right: auto;
  }
}
.star-fill {
  fill: var(--color-emerald);
}

.review-description {
  font: var(--heading-desktop-h6);
  letter-spacing: 0.01em;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .review-description {
    margin-bottom: 24px;
  }
}
.reviewers-name {
  font: var(--text-regular-semi-bold);
}
.stars-review-list {
  display: flex;
  margin-bottom: 12px;
  line-height: 0;
}
@media screen and (min-width: 768px) {
  .stars-review-list {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .feedback-list-item:last-child .stars-review-list {
    margin-bottom: 24px;
  }
  .feedback-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .feedback-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .feedback-list {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 24px;
  }
}

@media screen and (min-width: 768px) {
  .feedback-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .feedback-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}
