.feedback-section {
  background-color: #ebf8ed;
}
ul {
  margin: 0;
  padding: 0;
}
.container {
  width: 320px;
  padding: 0 16px;
}
/* mobile */
.section-title {
  font-family: 'Comfortaa', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
}
/* mobile */
.stars-review-list {
  margin-bottom: 12px;
}
/* mobile */
.review-describtion {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  margin-bottom: 12px;
}
.reviewers-name {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
}

/* .feedback-list {
  display: flex;
} */
.stars-review-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .feedback-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
}
