.footer {
    background-color: var(--color-header-footer-bg);
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

/* ----MENU---- */
.footer-menu-sect {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 48px;
    padding-top: 48px;
}

.footer-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.f-menu-item {
    font: var(--text-regular-normal);
    color: var(--color-neutral-darkest);
    transition: color var(--transition-base);
}
.f-menu-item:hover,
.f-menu-item:focus {
    color: var(--color-hover-text);
    
}
.f-menu-item:active {
    color: var(--color-active-text);
    
}

.f-social-links {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
}

.f-social-links-icon {
    fill: var(--color-neutral-darkest);
    transition: fill var(--transition-base);
}
.f-social-links-icon:hover,
.f-social-links-icon:focus {
    fill: var(--color-hover-text);
}
.f-social-links-icon:active {
    fill: var(--color-active-text);
}

/* ----CONTACTS---- */
.footer-contacts {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 48px;
}

.divider {
    border-top: 1px solid rgba(3, 10, 6, 0.15);
    width: 280px;
    height: 0px; 
}

.footer-address {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
        
}

.f-address-link {
    font: var(--text-regular-normal);
    color: var(--color-neutral-darkest);
    transition: color var(--transition-base);
}
.f-address-link:hover,
.f-address-link:focus {
    color: var(--color-hover-text);
}
.f-address-link:active {
    color: var(--color-active-text);
}

.f-copyright {
    font: var(--text-small-normal);
    color: var(--color-neutral-darkest);
}

/* ----Tablet---- */

@media screen and (min-width: 768px) {
.footer-container {
    gap: 24px;
   }
    
.footer-menu-sect {
    gap: 32px;
    padding-top: 64px;
   } 

.footer-logo-link {
    width: 164px;
    height: 70px;
    }
    
.footer-menu {
    flex-direction: row;
    }
    
.f-social-links-icon {
    width: 40px;
    height: 40px;
    }
    
.footer-contacts {
    gap: 16px;
    padding-bottom: 64px;
    }
    
.divider {
    width: 704px;
    }
    
.footer-address {
    flex-direction: row;
    gap: 32px;
    }
}

/* ---Desktop--- */

@media screen and (min-width: 1440px){
.footer-container {
    gap: 52px;
        }
    
.footer-menu-sect {
    flex-direction: row;
    padding-top: 80px;
    justify-content: space-between;
        }
    
.footer-logo {
    width: 341px;
    justify-content: flex-start;
        }
    
.footer-logo-link {
    width: 164px;
    height: 70px;
        }
    
.f-social {
    width: 341px;
        }
    
.f-social-links {
    justify-content: flex-end;
        }
    
.f-social-links-icon {
    width: 24px;
    height: 24px;
        }
    
.divider {
    width: 1312px;
        }
    
.footer-contacts {
    padding-bottom: 80px;
        }
}
