/* HERO STYLES */
/* mob */
/* @media screen {
} */
.hero-section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.hero-buynow-title {
  position: relative;
  font-family: var(--second-family);
  font: var(--heading-mobile-h1);
  letter-spacing: 0.01em;
  color: var(--color-scheme-2-text);
  margin-bottom: 20px;
}
.hero-buynow-title::after {
  content: '.';
  position: absolute;
  right: 96px;
  bottom: 1px;
}
.hero-buynow-text {
  font-family: var(--font-family);
  color: var(--color-scheme-2-text);
  margin-bottom: 24px;
}
.hero-buy-button {
  display: block;
  border: 1px solid var(--color-neutral-darkest);
  border-radius: 6px;
  padding: 12px 24px;
  width: 288px;
  height: 50px;
  background-color: var(--color-neutral-darkest);
  font: var(--text-regular-normal);

  text-align: center;

  color: var(--color-white);
  margin-bottom: 24px;
  transition: border-color var(--transition-base),
    background-color var(--transition-base), opacity var(--transition-base);
}
.hero-buy-button:hover,
.hero-buy-button:focus {
  border-color: var(--color-emerald-darkest);
  background-color: var(--color-emerald-darkest);
  opacity: 0.6;
}
.hero-buy-button:active {
  opacity: 0.5;
}
.hero-image-wrapper {
  justify-self: center;
}
.hero-image {
  border-radius: 40px;
}
/* tab */
@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-container {
    display: flex;
  }
  .hero-buynow-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .hero-buynow-title {
    width: 340px;
  }
  .hero-buynow-title::after {
    content: '';
  }

  .hero-buynow {
    width: 340px;
    display: flex;
    flex-direction: column;
  }
  .hero-buynow-text {
    font: var(--text-medium-normal);
    margin-bottom: 32px;
  }
  .hero-buy-button {
    padding: 12px 24px;
    width: 148px;
    height: 50px;
    font: var(--text-regular-normal);
    white-space: nowrap;
  }
  .hero-image {
    display: block;
  }
}
/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .hero-buynow-title {
    width: 640px;
    font: var(--heading-desktop-h1);
  }
  .hero-buynow {
    width: 640px;
  }
}
