/* HERO STYLES */
/* mob */
@media screen {
  .hero-section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .hero-container {
    margin-bottom: 20px;
  }

  .hero-buynow-title {
    font: var(--heading-mobile-h1);
    letter-spacing: 0.01em;
    color: var(--color-scheme-2-text);
  }

  .hero-buynow-text {
    font: var(--text-regular-normal);
    color: var(--color-scheme-2-text);
    margin-bottom: 24px;
  }
  .hero-buy-button {
    display: block;
    border: 1px solid var(--color-neutral-darkest);
    border-radius: 6px;
    padding: 12px 24px;
    width: 288px;
    height: 50px;
    background: var(--color-neutral-darkest);
    text-align: center;

    font: var(--text-regular-normal);
    color: var(--color-white);
    margin-bottom: 24px;
    transition: border-color var(--transition-base),
      color var(--transition-base), background var(--transition-base);
  }
  .hero-buy-button:hover,
  .hero-buy-button:focus {
    border-color: var(--color-neutral-darkest);
    color: var(--color-neutral-darkest);
    background: transparent;
  }

  .hero-image-wrapper {
    justify-self: center;
  }
  .hero-image {
    border-radius: 40px;
  }
}
/* tab */
@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 32px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-container {
    display: flex;
    gap: 20px;
  }
  .hero-buynow-title {
    width: 340px;
  }
  .hero-buynow {
    width: 340px;
    display: flex;
    flex-direction: column;
  }
  .hero-buynow-text {
    font-size: 18px;
    margin-bottom: 32px;
  }
  .hero-buy-button {
    padding: 12px 24px;
    /* 148>150 */
    width: 150px;
    height: 50px;
    /* white-space: nowrap; */
    font: var(--text-regular-normal);
  }
  .hero-image {
    display: block;
  }
}
/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .hero-container {
    gap: 32px;
  }
  .hero-buynow-title {
    width: 640px;
    font-size: 56px;
  }
  .hero-buynow {
    width: 640px;
  }
}
